<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321909380425-6sb6gch4l738kvbjsbgl0a8ra66k4kiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321909380425-6sb6gch4l738kvbjsbgl0a8ra66k4kiu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>321909380425-gcvcqbctqooodhffeoh6idfq74tloodd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0faVLzNCJcEi0EFv6dZ4z6-UzbDX1L8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>321909380425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exopek.videoApp</string>
	<key>PROJECT_ID</key>
	<string>videoappexopek</string>
	<key>STORAGE_BUCKET</key>
	<string>videoappexopek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321909380425:ios:73cbb0742e40cf0a73f698</string>
</dict>
</plist>